/target
/docs/book

__pycache__
RELEASE_NOTES.md
CHANGELOG_MERGE.md

init.sh
rc.bash
install.sh
install.ps1

/tools/target-triple.exe

.DS_Store

/src/commands/template.txt
/docs/src/6_commands/template.txt

thoughts.md
.ideas/
todo.md

license-header

orbit-test.zip
orbit-test/