/target
/docs/book

.vscode/

__pycache__
RELEASE_NOTES.md
CHANGELOG_MERGE.md

init.sh
start.ps1
open-ip.ps1
rc.bash
install.sh
install.ps1

/tools/target-triple.exe

.DS_Store

/src/commands/template.txt
/docs/src/6_commands/template.txt

.internal/

license-header

orbit-test.zip
orbit-test/

tests/playground/

mansync/
!tools/mansync/